.skills-card{
    border-radius: 0.85rem;
    text-align: center;
    border: 1.5px solid #061111;
    padding: 2.5rem;
    background: rgba(38, 163, 159, 0.699);
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3 ease;
}

.skills-card:hover,
.skills-card.active{
    background: linear-gradient(180deg, #45dbdba2, #5fb0e6 100%);
}

.skills-card span{
    font-size: 1.3rem;
    font-weight: 500;
}

.skill-icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #62ecf89f;
    border-radius: 0.65rem;
    border: 1px solid #050b0c49;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.skill-icon img{
    width: 2.1rem;
    height: auto;
    object-fit: contain;
}


@media (max-width:1025px){

    .skills-card{
        padding: 2rem;
    }

    .skills-card span{
        font-size: 1rem;
    }

    .skill-icon{
        width: 3rem;
        height: 3rem;
    }

    .skill-icon img{
        width: 1.8rem;
    }
}

@media (max-width: 768px){

    .skills-card span{
        font-size: 0.9rem;
    }
}